<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptocurrency Analysis Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    {% load static%}
    <link rel="stylesheet" href="{% static 'forecast.css'%}">
</head>
<body>
<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <h2>CRY<span class="danger">PTO</span></h2>
            </div>
        </div>
        <div class="sidebar">
            <a href="/index/">
                <span class="material-symbols-outlined">dashboard</span>
                <h3>Dashboard</h3>
            </a>
            <a href="/analysis_index/">
                <span class="material-symbols-outlined">analytics</span>
                <h3>Analysis</h3>
            </a>
            <a href="/forecast_index/">
                <span class="material-symbols-outlined">batch_prediction</span>
                <h3>Get Forecasts</h3>
            </a>
            <a href="/news/">
                <span class="material-symbols-outlined">news</span>
                <h3>News and Trends</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">settings</span>
                <h3>Settings</h3>
            </a>
            <a href="#">
                <span class="material-symbols-outlined">info</span>
                <h3>About</h3>
            </a>
            <a href="/login/">
                <span class="material-symbols-outlined">logout</span>
                <h3>Log Out</h3>
            </a>
        </div>
    </aside>
    <main>
        <form id="currency-form" method="post">
            {% csrf_token %}
    <div class="crypto-selector">
        <div class="custom-select">
            <select id="crypto-select" name="currency">
                <option value="" disabled selected>Select a Currency</option>
                <option value="BTC-USD">Bitcoin (BTC)</option>
                <option value="ETH-USD">Ethereum (ETH)</option>
                <option value="LTC-USD">Litecoin (LTC)</option>
                <option value="DGC-USD">Dogecoin (DOGE)</option>
                <option value="XRP-USD">Ripple (XRP)</option>
            </select>
            <select id="period" name="period">
                <option value="" disabled selected>Select Forecast Period</option>
                <option value="Days">Days</option>
                <option value="Weeks">Weeks</option>
                <option value="Months">Months</option>
                <option value="Years">Years</option>
            </select>
            <input type="number" id="timestamps" name="timestamps" min="1" max="100" value="1" placeholder="Enter Frequency">
        </div>
        <button type="submit">Get analysis</button>
    </div>
</form>
    <div class="plots">
        <div class="graph">
            <div id="trend-graph" class="graph">
                {% block trend_graph %}
                {% endblock %}
            </div>
        </div>

        <div class="graph">
            <div id="forecast-graph" class="graph">
                {% block forecast_graph %}
                {% endblock %}
            </div>
        </div>

        <div class="graph">
            <div id="component-graph" class="graph">
                {% block component_graph %}
                {% endblock %}
            </div>
        </div>
    </div>
    </main>
</div>
<script>
    document.getElementById('search-btn').addEventListener('click', function() {
        var currency = document.getElementById('currency').value;
        var periodElement = document.getElementById('period');
        var period = periodElement.options[periodElement.selectedIndex].text;
        var timestamps = document.getElementById('timestamps').value;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/forecast_index/');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onload = function() {
            if (xhr.status === 200) {
                // Log the response content to check if it's received correctly
                console.log(xhr.responseText);

                // Update the graph divs with the returned HTML content
                document.getElementById('trend-graph').innerHTML = xhr.responseText;
                document.getElementById('forecast-graph').innerHTML = xhr.responseText;
            } else {
                console.log('Request failed. Status: ' + xhr.status);
            }
        };
        xhr.send('currency=' + currency + '&period=' + period + '&timestamps=' + timestamps);
    });

</script>

</body>
</html>

