*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
    appearance: none;
    color: white;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    background-image: linear-gradient(to right,rgb(18, 146, 144), rgb(46, 117, 176));
}

.container{
    display: grid;
    width: 96%;
    gap: 1.8rem;
    grid-template-columns: 14rem auto 14rem;
    margin: 0 auto;
}
a{
    color: aliceblue;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;

}
h2{
    font-size: 1.4rem;

}
h3{
    font-size: 0.87rem;
}
h4{
    font-size: 0.8rem;
}
h6{
    font-size: 0.77rem;
}
small{
    font-size: 0.75rem;
}
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}
.text-muted{
    color: #7d8da1;
}
p{
    color: #677483;
}
b{
    color: #363949;
}
.primary{
    color: #7380ec;
}
.success{
    color: #41f1b6;
}
.danger{
    color: #ff7782;
}
.warning{
    color: #ff4edc;
}
aside{
    height: 100vh;
}
aside.top{
    background-color: rgb(17, 81, 90);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.4rem;
}
aside .logo{
    margin-top: 30px;
    margin-left: 0px;
    display: flex;
    gap: 1rem;
    background-color: rgb(17, 81, 90);
    align-content: center;
}

aside.top div.close{
    display: none;
    background-color: rgb(17, 81, 90);
    align-items: center;
}

aside .sidebar{
    background-color: rgba(10, 103, 101, 0.656);
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: relative;
    top: 1rem;
}
aside.h3{
    font-weight: 400;
    align-items: center;
}
aside .sidebar a{
    display: flex;
    color: #363949;
    gap: 1rem;
    align-items: center;
    height: 3.2rem;
    transition:all .1s ease-in;
}

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all .1s ease-in;
}
aside .sidebar a:last-child{
    position: absolute;
    bottom: 1rem;
    width: 100%;
}
aside .sidebar a:hover, aside.sidebar a:active{
    background-color: rgba(7, 97, 101, 0.742);
    margin-left: 0;
    border-left: 5px solid #4c80bc;
}
.insights{
    margin-top: 50px;
}
.rates {
    display: flex;
    gap: 20px;
}

.btc-info {
    display: flex;
    align-items: center;
    width: 210px;
    background-image: linear-gradient(to right, orange, rgb(255, 255, 0));
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ltc-info {
    display: flex;
    align-items: center;
    width: 210px;
    background-image: linear-gradient(to right, rgb(12, 12, 108), rgb(10, 100, 125));
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.eth-info {
    display: flex;
    align-items: center;
    width: 210px;
    background-image: linear-gradient(to right, rgb(23, 23, 179), rgb(61, 148, 173));
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.dgc-info {
    display: flex;
    align-items: center;
    width: 210px;
    background-image: linear-gradient(to right, rgb(201, 113, 12), rgb(103, 70, 17));
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rpl-info {
    display: flex;
    align-items: center;
    width: 210px;
    background-image: linear-gradient(to right, rgb(23, 23, 179), rgb(179, 195, 199));
    padding: 10px;
    border-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.btc-info:hover{
    transform: scale(1.1);
}
.eth-info:hover{
    transform: scale(1.1);
}
.rpl-info:hover{
    transform: scale(1.1);
}
.ltc-info:hover{
    transform: scale(1.1);
}
.dgc-info:hover{
    transform: scale(1.1);
}

.price-info {
    display: flex; /* Make the container flex to align items */
    align-items: center; /* Align items vertically */
    margin-left: 10px;
}

.price-info h1 {
    margin-left: 5px;
}
.volume-info {
    display: flex; /* Make the container flex to align items */
    align-items: center; /* Align items vertically */
    margin-left: 10px;
}

.volume-info h1 {
    margin-left: 5px;
}
.material-symbols-outlined {
    font-size: 1.6rem; /* Adjust size as needed */
    margin-right: 5px; /* Add spacing between symbol and value */
}

#img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.middle {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust as needed */
}

.left {
    margin-right: 20px; /* Adjust as needed */
}
.graph{
    margin-top: 10px;
       
}